.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 163, 115);
    color: white;
    box-shadow: 0 2px 5px #0000001a;
    width: auto;
    height: 70px;
}

.logo img {
    width: 100px;
    height: auto;
    position: relative;
    top: 30px;
    left: 20px;
}

.header-menu a {
   text-decoration: none;
   color: white;
   padding: 20px;
   margin-right: 20px;
   font-weight: 600;
}